.about {
  height: 400px;
}

.about .text {
  background: #f0f0f0;
  padding: 15px;
  padding-left: 40px;
}

.about .image {
  background: url("https://cdn.pixabay.com/photo/2012/07/06/20/23/excavators-51665_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.copyright p {
  color: #FF6600;
}

.about-btns {
  color: white;
  background-color: #FF6600;
  padding: 4px 27px;
  /* border-radius: 50%; */
}