.about {
  height: 400px;
}

.about .text {
  background: #f0f0f0;
  padding: 15px;
  padding-left: 40px;
}

.about .image {
  background: url("https://images.pexels.com/photos/159306/construction-site-build-construction-work-159306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}