body {
  background: #f0f0f0
}

.eq-body {
  margin-top: 70px;
}

.eq-card {
  border-radius: 2%;
  background: white;
  margin-bottom: 15px;
}

.eq-row {
  width: 100%;
}

@media(max-width: 5025px) {
  .eq-card {
    width: 27%;
  }

  .eq-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media(max-width: 1024px) {
  .eq-card {
    width: 45%;
  }

  .eq-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


@media(max-width: 768px) {
  .eq-card {
    width: 90%;
  }

  /* .eq-row {} */
}