* {
  font-family: 'Raleway';
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth
}

#main-intro {
  background-image: url('https://images.pexels.com/photos/1116035/pexels-photo-1116035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 610px;
  position: relative;
}

.overlay {
  height: 610px;
  background: #000;
  opacity: 0.5;
}

.intro-text {
  position: absolute;
  top: 100px;
}

.intro-text h3 {
  font-size: 2.6rem;
}