<div id='abou'>
  <div class="about row">
    <div class="col-md-6 text text-1 col-sm-12 pt-4">
      <p class="lead"><span class="listings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          adipisci iusto debitis, ea
          voluptate</span>, amet saepe a necessitatibus rerum dolorem incidunt, sequi ipsa. Quasi, nemo voluptas iure
        laudantium
        mollitia ullam?</p>
    </div>
    <div class="col-md-6 col-sm-12 image img-1">
    </div>
  </div>
  <div class="about row">
    <div class="col-md-6 col-sm-12 image img-2">
    </div>
    <div class="col-md-6 text text-2 col-sm-12 pt-4">
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis adipisci iusto debitis, ea
        voluptate, amet <span class="listings">saepe a necessitatibus rerum dolorem incidunt, sequi ipsa. Quasi, nemo
          voluptas iure laudantium
          mollitia ullam?</span></p>
      <div class="my-3">
        <button class="btn btn-lg about-btns">EXPLORE</button>
      </div>
    </div>
  </div>
  <div class="about row">
    <div class="col-md-6 text text-3 col-sm-12 pt-4">
      <p class="lead"><span class="listings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          adipisci iusto debitis, ea
          voluptate</span>, amet saepe a necessitatibus rerum dolorem incidunt, sequi ipsa. Quasi, nemo voluptas iure
        laudantium
        mollitia ullam?</p>
    </div>
    <div class="col-md-6 col-sm-12 image img-3">
    </div>
  </div>
</div>