<div id='abou'>
  <div class="about row">
    <div class="col-md-6 text col-sm-12">
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis adipisci iusto debitis, ea
        voluptate, amet saepe a necessitatibus rerum dolorem incidunt, sequi ipsa. Quasi, nemo voluptas iure laudantium
        mollitia ullam?</p>
    </div>
    <div class="col-md-6 col-sm-12 image img-1">
    </div>
  </div>
  <div class="about row">
    <div class="col-md-6 col-sm-12 image img-2">
    </div>
    <div class="col-md-6 text col-sm-12">
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis adipisci iusto debitis, ea
        voluptate, amet saepe a necessitatibus rerum dolorem incidunt, sequi ipsa. Quasi, nemo voluptas iure laudantium
        mollitia ullam?</p>
    </div>
  </div>
  <div class="about row">
    <div class="col-md-6 text col-sm-12 img-3">
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis adipisci iusto debitis, ea
        voluptate, amet saepe a necessitatibus rerum dolorem incidunt, sequi ipsa. Quasi, nemo voluptas iure laudantium
        mollitia ullam?</p>
    </div>
    <div class="col-md-6 col-sm-12 image">
    </div>
  </div>
</div>