<div class="mt-5">
  <div>
    <h3 class="text-center d-4 text-uppercase">View our <span class="listings">Listings</span></h3>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis vel qui quaerat minima
      eaque.
      Quis tempora quos quod repudiandae earum.</p>
  </div>
  <div class="row mt-3 d-flex justify-content-center">
    {% for cat in categories %}
    {% with total=cat.equipments.count %}
    <div class="col-md-5 col-lg-3 mb-4 category">
      <div class="custom-card">
        <div class="d-overlay"></div>
      </div>
      <div class="cat-details w-50 h-100 pl-3  d-flex justify-content-end flex-column ">
        <p class=""><a href="{% url 'single_cat' cat.id %}" class="text-white">{{ cat.name }}</a></p>
        <p class="mt-0">({{ total }} listing{{ total|pluralize }})</p>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
    <h3 class="text-center mt-3"><span class="listings">ABOUT</span> US</h3>

  </div>
</div>