<div id="footer">
  <div class="row">
    <div class="socials d-flex justify-content-center col-sm-12 col-md-6">
      <div>
        <i class="fab fa-instagram"></i>
      </div>
      <div>
        <i class="fab fa-twitter"></i>
      </div>
      <div>
        <i class="fab fa-facebook"></i>
      </div>
      <div>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
    <div class="privacy col sm 12 col-md-6 d-flex justify-content-center">
      <p class="lead mx-5 my-3"><a class='privacy-txt' href="">Terms of use</a></p>
      <p class="lead mx-5 my-3"><a class='privacy-txt' href="">Privacy policy</a></p>
    </div>
  </div>
  <div class="copyright">
    <p class="text-center">&copy; 2020 Tinga All rights reserved.</p>
  </div>
</div>